@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll suave */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Estilos personalizados */
.accordion-content {
  transition: max-height 0.3s ease-out, opacity 0.3s ease;
}

/* Personalização da scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  /* Azul navy */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #172554;
  /* Azul mais escuro */
}
